/* scrollbar.css */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind slate-300 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #374151; /* Tailwind slate-700 */
  border-radius: 9999px;
}
